a{display: block;}
h2 {color: #648DC7;}

coment{background-color: #ACACAC}
.pi {color:  #D7D7D7;}
.tgt{color: #00FFFF;
 font-size: 15pt; }

.nam{background-color: #CCC}

.df{background-color: #FFF}

 body{background-color: #EBF5FC}
 #cor{background-color: #fff}
 